@{
    ViewBag.Title = "Accept order page";
}
@model AcceptOrderDto

<form asp-area="admin" asp-controller="orders" asp-action="accept" enctype="multipart/form-data" method="post" style="margin: 0 30px;">
    <h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Accept order
    </h3>

    <input type="hidden" asp-for="OrderId" value="@Model.OrderId"/>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

        @if (Model.HasError)
        {

            <div id="toast-danger" class="flex items-center w-full p-4 mb-4 text-gray-500  bg-red-100 rounded-lg shadow dark:text-gray-400 dark:bg-red-800" role="alert">
                <div class="ml-3 text-sm font-normal text-red-600">@Model.ErrorMessage</div>
                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-danger" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>

        }

        <div class="grid grid-cols-2 gap-2">
            <div >

                <label class="block text-sm">
                    <label class="block text-sm">
                        <span class="text-gray-700 dark:text-gray-400">
                            Booked Date:
                        </span>
                        <p class="text-gray-400 dark:text-gray-100">@Model.Order.BookedDate</p> <br />
                    </label>
                    <span class="text-gray-700 dark:text-gray-400">
                        Full Name:
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.User.FirstName @Model.User.LastName</p> <br />
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Email:
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.User.Email</p> <br />
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Start Date:
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.Order.StartDate</p> <br />
                </label>

            </div>

            <div>

                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        End Date:
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.Order.EndDate</p> <br />
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        People
                    </span>
                    @{
                        string children = "";
                        if (Model.Order.NumberOfChildren > 0)
                        {
                            children = $" and {Model.Order.NumberOfChildren.ToString()} children";
                        }
                    }
                    <p class="text-gray-400 dark:text-gray-100">@Model.Order.NumberOfAdults Adults @children</p>  <br />
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Total Price
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.Order.TotalPrice</p> <br />
                </label>
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                        Additional
                    </span>
                    <p class="text-gray-400 dark:text-gray-100">@Model.Order.Additional</p> <br />
                </label>
            </div>
        </div>
    </div>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

        <label class="block text-sm">
            <label class="block text-sm">
                <span class="text-gray-700 dark:text-gray-400" style="margin:30px 0px">
                    Please select Rooms
                </span>
                @for (int i = 0; i < Model.RoomChecks.Count; i++)
                {
                    <div class="text-gray-700 dark:text-gray-100">
                        @Html.HiddenFor(x => x.RoomChecks[i].Id)
                        @Html.CheckBoxFor(x => x.RoomChecks[i].IsChecked)
                        @Html.LabelFor(x => x.RoomChecks[i].IsChecked, Model.RoomChecks[i].Room.Number.ToString())
                    </div>
                }
                <span asp-validation-for="RoomChecks" class="text-xs text-red-600 dark:text-red-400"></span>
            </label>
        </label>
    </div>

    <div class="flex items-center justify-center mb-4">
        <a asp-area="admin" asp-controller="orders" asp-action="pending" style="width:120px; margin:0 10px; text-align:center" class="px-4 py-2 text-sm font-medium leading-5 transition-colors duration-150 bg-gray-400 border border-transparent rounded-lg active:bg-gray-400 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
            Cancel
        </a>
        <button type="submit" style="width:120px; margin:0 10px;" class="px-4 py-2 text-sm font-medium leading-5 transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">
            Save
        </button>
    </div>
</form>