@{
    ViewBag.Title = "Edit Room home";
}
@model UpdateRoomDto

<form asp-area="admin" asp-controller="room" asp-action="edit" method="post" style="margin: 0 30px;">
    <h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Edit Room
    </h3>

    <input type="hidden" asp-for="Id" value="@Model.Id"/>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

        <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Number
            </span>
            <input asp-for="Number"
                   class="block w-full mt-1 text-sm dark:text-gray-300 dark:bg-gray-700 focus:border-blue-400 focus:outline-none focus:shadow-outline-blue form-input"
                   type="number" />
            <span asp-validation-for="Number" class="text-xs text-red-600 dark:text-red-400"></span>
        </label>

        <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Room Type
            </span>
            <select asp-for="RoomTypeId"
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:bg-gray-700 focus:border-blue-400 focus:outline-none focus:shadow-outline-blue form-input"
                    type="number">
                @foreach (var type in Model.RoomTypes)
                {
                    string val = $"{@type.Name} | $ {type.Price} | {type.Capacity} beds";
                    if (Model.RoomTypeId == type.Id)
                    {
                        <option value="@type.Id" selected>@val</option>
                    }
                    else
                    {
                        <option value="@type.Id">@val</option>
                    }
                }
            </select>
            <span asp-validation-for="RoomTypeId" class="text-xs text-red-600 dark:text-red-400"></span>
        </label>

        <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">
                Status
            </span>
            <select asp-for="Status"
                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:bg-gray-700 focus:border-blue-400 focus:outline-none focus:shadow-outline-blue form-input"
                    type="number">
                @if(Model.Status == RoomStatus.Empty)
                {
                    <option value="1" selected>Empty</option>
                }
                else
                {
                    <option value="1">Empty</option>
                }
                @if (Model.Status == RoomStatus.Busy)
                {
                        <option value="2" selected>Busy</option>
                }
                else
                {
                        <option value="2">Busy</option>
                }
                @if (Model.Status == RoomStatus.Ordered)
                {
                        <option value="3" selected>Ordered</option>
                }
                else
                {
                        <option value="3">Ordered</option>
                }
            </select>
            <span asp-validation-for="Status" class="text-xs text-red-600 dark:text-red-400"></span>
        </label>

    </div>

    <div class="flex items-center justify-center mb-4">
        <a asp-area="admin" asp-controller="room" asp-action="index" class="px-4 py-2 text-sm font-medium leading-5 transition-colors duration-150 bg-gray-400 border border-transparent rounded-lg active:bg-gray-400 hover:bg-gray-700 focus:outline-none focus:shadow-outline-gray">
            Cancel
        </a>
        <button type="submit" class="px-4 py-2 text-sm font-medium leading-5 transition-colors duration-150 bg-green-600 border border-transparent rounded-lg active:bg-green-600 hover:bg-green-700 focus:outline-none focus:shadow-outline-green">
            Save
        </button>
    </div>
</form>